<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="../styles/default.css">
    <link rel="stylesheet" href="../styles/list.css">
</head>

<body>
    <section class="corpo">
        <div class="area">
            <div id="list">
                <a href="../../index.html"><button class="button">Voltar</button></a>
                <ul></ul>
            </div>
        </div>
    </section>
    <script src="/listItens.js"></script>
</body>

</html>